.input-container {
	display: grid;
	place-items: center;
}

.header {
	font-size: 40px;
}

.input-box {
	border-bottom: 1px solid gray;
	display: inline-block;
}

.todo-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2px 0;
}

.todos {
	border: 1px solid gray;
}